.mat-form-field {
    display: block;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.saveFactory {
    position: absolute;
    right: 10%;
    bottom: -1%;
}

.mat-form-field.hide {
    display: none;
}